$color-main-background: hsl(222, 26%, 31%);
$color-main-keypad-background: hsl(223, 31%, 20%);
$color-main-screen-background: hsl(224, 36%, 15%);
$color-main-shift-background: hsl(225, 21%, 49%);
$color-main-shift-shadow: hsl(224, 28%, 35%);
$color-main-equal-background: hsl(6, 63%, 50%);
$color-main-equal-shadow: hsl(6, 70%, 34%);
$color-main-key-background: hsl(30, 25%, 89%);
$color-main-key-shadow: hsl(28, 16%, 65%);
$color-main-text-dark: hsl(221, 14%, 31%);
$color-main-text-white: hsl(0, 0, 100%);

$color-alt1-background: hsl(0, 0%, 90%);
$color-alt1-keypad-background: hsl(0, 5%, 81%);
$color-alt1-screen-background: hsl(0, 0%, 93%);
$color-alt1-shift-background: hsl(185, 42%, 37%);
$color-alt1-shift-shadow: hsl(185, 58%, 25%);
$color-alt1-equal-background: hsl(25, 98%, 40%);
$color-alt1-equal-shadow: hsl(25, 99%, 27%);
$color-alt1-key-background: hsl(45, 7%, 89%);
$color-alt1-key-shadow: hsl(35, 11%, 61%);
$color-alt1-text-dark: hsl(60, 10%, 19%);
$color-alt1-text-white: hsl(0, 0, 100%);

$color-alt2-background: hsl(268, 75%, 9%);
$color-alt2-keypad-background: hsl(268, 71%, 12%);
$color-alt2-screen-background: hsl(268, 71%, 12%);
$color-alt2-shift-background: hsl(281, 89%, 26%);
$color-alt2-shift-shadow: hsl(285, 91%, 52%);
$color-alt2-equal-background: hsl(176, 100%, 44%);
$color-alt2-equal-shadow: hsl(177, 92%, 70%);
$color-alt2-key-background: hsl(268, 47%, 21%);
$color-alt2-key-shadow: hsl(290, 70%, 36%);
$color-alt2-text-yellow: hsl(52, 100%, 62%);
$color-alt2-text-dark: hsl(198, 20%, 13%);
$color-alt2-text-white: hsl(0, 0, 100%);
